<!-- Modal -->
<div class="modal fade" id="ModalListeArticle" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="margin-left: -398px;
    width: 1357px;">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Liste des articles</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        

        <div class="container">

          <div class="row height d-flex justify-content-center align-items-center">

            <div class="col-md-6">

              <div class="form">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control form-input" placeholder="Search anything...">
        
              </div>
              
            </div>
            
          </div>
          
        </div>
        <div class="shell" style="margin-top: -95px;">
          <div class="container">
            <div class="row">
              <div class="col-md-3 " *ngFor="let article of articlesDetails">
                <div class="row">
                <div class="wsk-cp-product" style="width: 281px;">
                  
                  <div class="wsk-cp-img">
                    <img [src]="article.urlPhoto" alt="Product" class="img-responsive" />
                  </div>
                  <div class="wsk-cp-text">
                    <div class="category">
                      <span>{{ article.libelle}}</span>
                    </div>
                    <div class="title-product">
                      <h3>Qte dispo: <span>{{article.qteStock}}</span></h3>
                    </div>
                    <div class="description-prod">
                      <p>Description :{{ article.description }} </p>
                    </div>
                    <div class="card-footer">
                      <h1>prix unitaire:<span>{{ article.prixUnitaire  }}Dt</span></h1>
                      
                      <h1>Remise :<span>{{ article.remise }}%</span></h1>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
